@using ControlFinWeb.Dominio.ObjetoValor
@model ControlFinWeb.App.ViewModels.CaixaVM

@{
    ViewData["Title"] = "Caixa";
}

<div @*style="margin-left: 200px; margin-right: 200px;"*@>
    <div class="row">
        <div class="col-md-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-dark pesquisar"><i class="bi bi-search"></i></button>
                </div>
                <span class="input-group-text fw-bold">Pesquisar Caixas</span>

            </div>
        </div>
        <div class="col-md-8" id="botoes" style="text-align:right">
            <div class="btn-group" role="group" aria-label="botoes" >
                <button type="button" class="btn btn-dark abrirFecharCaixa" data-id="@Model.Id"> Abrir caixa</button>
                <button type="button" class="btn btn-secondary novo" data-id="0"> Adicionar</button>
            </div>
        </div>
    </div>

    <div id="mensagem" role="alert"></div>

    @if (Model.Id > 0)
    {
        <div class="row">
            <div class="col-md-2 badge bg-secondary">
                <h6>Caixa </h6>
                <h6>@Model.Codigo</h6>
            </div>
            <div class="col-md-2 badge bg-secondary">
                <h6>Data </h6>
                <h6>@Model.DataGeracao</h6>
            </div>
            <div class="col-md-2 badge bg-secondary">
                <h6>Situação </h6>
                <h6>@Model.Situacao</h6>
            </div>
            <div class="col-md-2 badge bg-secondary">
                <h6>Total Crédito </h6>
                <h6>@Model.TotalCredito.ToString("C2")</h6>
            </div>
            <div class="col-md-2 badge bg-secondary">
                <h6>Total Débito </h6>
                <h6>@Model.TotalDebito.ToString("C2")</h6>
            </div>
            <div class="col-md-2 badge bg-secondary">
                <h6>Total Geral </h6>
                <h6>@Model.BalancoFinal.ToString("C2")</h6>
            </div>
        </div>
        <br />
    }

    <table id="tabela" class="table table-bordered table-striped table-hover">
        <colgroup>
            <col style="width: 5%" />
            <col style="width: 15%" />
            <col style="width: 5%" />
            <col style="width: 15%" />
            <col style="width: 65%" />
        </colgroup>
        <thead>
            <tr>
                <th style="text-align:center">Tipo</th>
                <th style="text-align:center">Data</th>
                <th style="text-align:right">Valor</th>
                <th>Forma de Pagamento</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.FluxosCaixaVM != null)
            {
                @foreach (var item in Model.FluxosCaixaVM)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DebitoCredito)
                        </td>
                        <td>
                            @Html.Raw(item.Data.ToString())
                        </td>
                        <td style="text-align:right">
                            @Html.DisplayFor(modelItem => item.Valor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FormaPagamentoVM.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div id="modal" class="modal fade" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false"></div>

<!--Modal Excluir-->
<div class="modal fade modal-excluir" id="modal-excluir" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title text-white">Confirma exclusão do registro?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-outline-danger btnConfirmar">Confirmar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        $(document).ready(function() {
            $(".modal-excluir").modal();

            if (@Model.Id > 0) {
                $(".abrirFecharCaixa").text("Fechar Caixa");
            }
            
            if (parseInt(@Model.Situacao.GetHashCode()) == parseInt(@SituacaoCaixa.Fechado.GetHashCode())) {
                $("#botoes *").prop('disabled', true);
            }

            $('#tabela').DataTable({
                order: [[1, 'desc']],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.11.5/i18n/pt-BR.json"
                },
                paging: false,
                info: false,

            });
        });

        function ExibirModalExcluir(id) {
            $("#modal-excluir").modal("show");
            $(".btnConfirmar").on("click", function() {
                $.ajax({
                    method: "POST",
                    url: "Deletar",
                    data: { id: id },
                    success: function() {
                        location.reload();
                    },
                    error: function() {
                        $("#modal-excluir").modal("hide");
                        $("#mensagem").addClass('alert alert-danger').html("<strong>Erro!</strong> Não é possível excluir, por favor inative o registro!").delay(10000).fadeOut(400);
                    }
                });
            })
        }

        $(function() {
            $(".abrirFecharCaixa").click(function() {
                var id = $(this).attr("data-id");
                $("#modal").load("Editar?id=" + id, function() {
                    if (id > 0) {
                        $(".modal-title").html("FECHAR CAIXA");
                        $("#ValorAberturaFechamento").prop('readonly', true);
                    } else {
                        $(".modal-title").html("ABRIR CAIXA");
                    }
                    $("#modal").modal("show");
                })
            });

            $(".pesquisar").click(function() {
                $("#modal").load("Pesquisa", function() {
                    $(".modal-title").html("PESQUISA DE CAIXAS");
                    $("#modal").modal("show");
                })
            });

            $(".novo").click(function() {
                var id = $(this).attr("data-id");
                var idCaixa = @Model.Id;
                $("#modal").load("/FluxoCaixas/Editar?id=" + id, function() {
                    $(".modal-title").html("NOVO REGISTRO");
                    $("#CaixaId").val(idCaixa);
                    $("#modal").modal("show");
                })
            });

        })
    </script>
}