@model ControlFinWeb.App.ViewModels.ContaVM
@using ControlFinWeb.App.Utilitarios
@using ControlFinWeb.Dominio.ObjetoValor;
@using ControlFinWeb.Dominio.Entidades;
@{
    ViewData["Title"] = "Editar";
}

<div class="row">
   @* <div class="input-group mb-3">
        <div class="input-group-prepend">
            <a class="btn btn-lg btn-dark" href="javascript:window.history.back(-1);"><i class="bi bi-arrow-left-circle"></i></a>
        </div>
        <span class="input-group-text fw-bold" style="font-size:20px;">CONTA @Model.Nome?.ToUpper()</span>
    </div>*@
    <h5>CONTA @Model.Nome?.ToUpper()</h5>
  <hr />
</div>

    <div class="row">
        <form asp-action="Editar" id="FrmConta" class="center">
            <input asp-for="JsonParcelas" class="form-control" type="hidden" />
            <nav id="navContas">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-link active" id="nav-Geral-tab" data-bs-toggle="tab" data-bs-target="#nav-Geral" href="#Geral" role="tab" aria-controls="nav-Geral" aria-selected="true">Geral</a>
                    <a class="nav-link" id="nav-Parcelas-tab" data-bs-toggle="tab" data-bs-target="#nav-Parcelas" href="#Parcelas" role="tab" aria-controls="nav-Parcelas" aria-selected="false">Parcelas</a>
                   @* <a class="nav-link" id="nav-Arquivos-tab" data-bs-toggle="tab" data-bs-target="#nav-Arquivos" href="#Arquivos" role="tab" aria-controls="nav-Arquivos" aria-selected="false">Arquivos</a>*@
                </div>
            </nav>
            <fieldset id="fsAgrupar">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-Geral" role="tabpanel" aria-labelledby="nav-Geral-tab">
                        <br />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="row">
                            <div class="col-md-3">
                                <label asp-for="Id" class="control-label"></label>
                                <input asp-for="Id" class="form-control text-end" readonly />
                                <span asp-validation-for="Id" class="text-danger"></span>
                            </div>
                            <div class="col-md-3">
                                <label asp-for="DataEmissao" class="control-label"></label>
                                <input asp-for="DataEmissao" class="form-control text-end" type="date" />
                                <span asp-validation-for="DataEmissao" class="text-danger"></span>
                            </div>
                            <div class="col-md-3">
                                <label asp-for="TipoConta" class="control-label"></label>
                                <select class="form-select" asp-for="TipoConta" asp-items="Html.GetEnumSelectList<TipoConta>()"></select>
                                <span asp-validation-for="TipoConta" class="text-danger"></span>
                            </div>
                            <div class="col-md-3">
                                <label asp-for="NumeroDocumento" class="control-label"></label>
                                <input asp-for="NumeroDocumento" class="form-control text-end" />
                                <span asp-validation-for="NumeroDocumento" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label asp-for="Nome" class="control-label"></label>
                                <input asp-for="Nome" class="form-control" />
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label asp-for="SubGastoId" class="control-label"></label>
                                <select class="form-select" asp-for="SubGastoId" asp-items="ViewBag.SubGastoId">
                                    <option value="0">---Selecione um item---</option>
                                </select>
                                <span asp-validation-for="SubGastoId" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="PessoaId" class="control-label"></label>
                                <select class="form-select" asp-for="PessoaId" asp-items="ViewBag.PessoaId">
                                    <option value="0">---Selecione um item---</option>
                                </select>
                                <span asp-validation-for="PessoaId" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="Situacao" class="control-label"></label>
                                <input asp-for="Situacao" class="form-control" readonly />
                                <span asp-validation-for="Situacao" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label asp-for="Observacao" class="control-label"></label>
                                <textarea asp-for="Observacao" class="form-control" rows="3"></textarea>
                                <span asp-validation-for="Observacao" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-Parcelas" role="tabpanel" aria-labelledby="nav-Parcelas-tab">
                        <br />
                        <div class="row">
                            <div class="col-md-2">
                                <div class="btn-group d-flex">
                                    <button type="button" class="btn btn-dark gerar">Gerar Novas Parcelas</button>
                                    <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="visually-hidden">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="btn btn-sm btn-success dropdown-item pagar" href="#">Pagar</a></li>
                                        <li><a class="btn btn-sm btn-warning dropdown-item cancelar" href="#">Cancelar</a></li>
                                        <li><a class="btn btn-sm btn-danger dropdown-item excluir" href="#">Excluir</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="mt-3" id="parcelas">
                            <partial name="../Parcelas/_ListaParcelas" model="@Model.ParcelasVM" />
                        </div>
                    </div>
                   @* <div class="tab-pane fade" id="nav-Arquivos" role="tabpanel" aria-labelledby="nav-Arquivos-tab">
                        <div class="card">
                            <div class="card-body">
                                Arquivos (imagens, documentos, videos, etc)
                            </div>
                        </div>
                    </div>*@
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <button type="submit" value="submit" class="w-100 btn btn-success salvar">Salvar</button>
                    </div>
                    <div class="col-md-6">
                        <a asp-action="Index" type="button" class="w-100 btn btn-dark">Voltar</a>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>


<div id="modal" class="modal fade" aria-hidden="true" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false"></div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $('#tabelaParcela').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.11.5/i18n/pt-BR.json"
            },
            paging: false,
            info: false,
            "autoWidth": false,
            responsive: true,
             footerCallback: function (row, data, start, end, display) {
                    var numFormat = $.fn.dataTable.render.number('\.', ',', 2).display;
                    var api = this.api();

                    parcelaTotal = api
                        .column(2, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return parseFloat(a.toString().replace(",", ".")) + parseFloat(b.toString().replace(",", "."));
                        }, 0);
                jurosTotal = api
                    .column(4, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return parseFloat(a.toString().replace(",", ".")) + parseFloat(b.toString().replace(",", "."));
                    }, 0);
                descontoTotal = api
                    .column(5, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return parseFloat(a.toString().replace(",", ".")) + parseFloat(b.toString().replace(",", "."));
                    }, 0);
                reajustadoTotal = api
                    .column(6, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return parseFloat(a.toString().replace(",", ".")) + parseFloat(b.toString().replace(",", "."));
                    }, 0);
                abertoTotal = api
                    .column(7, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return parseFloat(a.toString().replace(",", ".")) + parseFloat(b.toString().replace(",", "."));
                    }, 0);
                 pagoTotal = api
                    .column(8, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return parseFloat(a.toString().replace(",", ".")) + parseFloat(b.toString().replace(",", "."));
                    }, 0);

                // Update footer
                $(api.column(2).footer()).html(numFormat(parcelaTotal));
                $(api.column(4).footer()).html(numFormat(jurosTotal));
                $(api.column(5).footer()).html(numFormat(descontoTotal));
                $(api.column(6).footer()).html(numFormat(reajustadoTotal));
                $(api.column(7).footer()).html(numFormat(abertoTotal));
                $(api.column(8).footer()).html(numFormat(pagoTotal));
                },
        });

        $('#filtroParcelas').multiselect({
            buttonClass: 'form-select',
            templates: {
                button: '<button type="button" class="multiselect dropdown-toggle" id="filtroSituacao" data-bs-toggle="dropdown" aria-expanded="false"><span class="multiselect-selected-text"></span></button>',
            },
            buttonWidth: '100%',
            allSelectedText: 'Todos',
            nonSelectedText: 'Filtro Situação',
            nSelectedText: 'selecionado(s)',
            onChange: function (option, checked, select) {
                FiltroSituacao();
            }
        });

        $(document).on(TipoClick().toString(), ".gerar", function () {
            if (@Model.Id > 0) {
                $("#modal").load("/Parcelas/GerarParcelas", function () {
                    $("#ContaId").val(@Model.Id);
                    $("#modal").modal("show");
                });
            } else {
                Swal.fire({
                    icon: 'warning',
                    title: 'Oops...',
                    text: 'Salve o conta antes de gerar parcelas!',
                })
            }
        });

        $(document).on(TipoClick().toString(), ".pagar", function () {
            var trs = $("tbody input:checked").closest("tr"); //pega no tr os elementos que estão checados
            var ids = $.map(trs, function (tr) { return $(tr).find('.check').val(); });
            var urlIds = ids.map((item) => { return "ids=" + item });
            if ((ids.toString() != "")) {
                Swal.fire({
                    title: 'Confirma as parcelas selecionadas?',
                    text: "Para verificar o pagamento ou recebimento acesse o caixa!",
                    icon: 'info',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sim, confirmar!',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            method: "GET",
                            url: '/Parcelas/PagarParcelas?' + urlIds.join("&"),
                            success: function (retorno) {
                                if (retorno.result == false) {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Oops...',
                                        text: 'Não é possível realizar o procedimento! Erro: ' + retorno.error,
                                    })
                                }else{
                                    $("#modal").html(retorno);
                                    $("#modal").modal("show");
                                }
                                
                            },
                        });
                    }
                })
            } else {
                Swal.fire({
                    icon: 'warning',
                    title: 'Oops...',
                    text: 'Nenhuma parcela selecionada!',
                })
            }
        });

        $(document).on(TipoClick().toString(), ".excluir", function () {
            var trs = $("tbody input:checked").closest("tr"); //pega no tr os elementos que estão checados
            var ids = $.map(trs, function (tr) { return $(tr).find('.check').val(); });
            var urlIds = ids.map((item) => { return "ids=" + item });
            if ((ids.toString() != "")) {
                Swal.fire({
                    title: 'Deseja realmente excluir?',
                    text: "Este processo não pode ser revertido!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sim, pode apagar!',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            method: "GET",
                            url: '/Parcelas/ExcluirParcelas?' + urlIds.join("&"),
                            success: function (retorno) {
                                if (retorno.result == false) {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Oops...',
                                        text: 'Não é possível excluir! Erro: ' + retorno.error,
                                    })
                                } else {
                                    location.reload();
                                }
                            }
                        });

                    }
                })
            } else {
                Swal.fire({
                    icon: 'warning',
                    title: 'Oops...',
                    text: 'Nenhuma parcela selecionada!',
                })
            }
        });

        $(document).on(TipoClick().toString(), ".cancelar", function () {
            var trs = $("tbody input:checked").closest("tr"); //pega no tr os elementos que estão checados
            var ids = $.map(trs, function (tr) { return $(tr).find('.check').val(); });
            var urlIds = ids.map((item) => { return "ids=" + item });
            if (ids.toString() != "") {
                Swal.fire({
                    title: 'Deseja realmente cancelar?',
                    text: "Este processo não pode ser revertido!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sim, pode cancelar!',
                    cancelButtonText: 'Voltar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            method: "GET",
                            url: '/Parcelas/CancelarParcelas?' + urlIds.join("&"),
                            success: function (retorno) {
                                if (retorno.result == false) {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Oops...',
                                        text: 'Não é possível cancelar! Erro: ' + retorno.error,
                                    })
                                } else {
                                    location.reload();
                                }
                                
                            }
                        });
                    }
                })
            } else {
                Swal.fire({
                    icon: 'warning',
                    title: 'Oops...',
                    text: 'Nenhuma parcela selecionada!',
                })
            }
        });

        $(document).on(TipoClick().toString(), ".editarParcela", function () {
            var id = $(this).attr("data-id");
            $("#modal").load("/Parcelas/Editar?id=" + id, function () {
                $("#modal").modal("show");
            })
        });

        $(document).on(TipoClick().toString(), ".historicoParcela", function () {
            var id = $(this).attr("data-id");
            $("#modal").load("/Parcelas/HistoricoParcela?id=" + id, function () {
                $("#modal").modal("show");
            })
        });

        $(function () {
            $('a[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
                localStorage.setItem('lastTab', $(this).attr('href'));
            });
            var lastTab = localStorage.getItem('lastTab');

            if (lastTab) {
                $('[href="' + lastTab + '"]').tab('show');
            }
        });
    </script>
}