@using ControlFinWeb.Dominio.ObjetoValor
@model IEnumerable<ControlFinWeb.App.ViewModels.ContaVM>

@{
    ViewData["Title"] = "Contas";
}

<div >
    <div class="row">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn btn-dark novo" data-id="0"><i class="badge-info bi-plus-lg"></i></button>
            </div>
            <span class="input-group-text fw-bold">Lista de Contas</span>
        </div>
    </div>
    <table class="table table-bordered table-striped table-hover" id="tabela">
        <thead>
            <tr>

                <th style="text-align:center">Tipo</th>
                <th style="text-align:center">Emissão</th>
                <th>Descrição</th>
                <th style="text-align:right">Qtd</th>
                <th style="text-align:right">Total Parcelas</th>
               <th style="text-align:right">Total Reajustado</th>
                <th style="text-align:right">Total Aberto</th>
                <th style="text-align:right">Situação</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.TipoConta)
                    </td>
                     <td style="text-align:center">
                        @Html.Raw(item.DataEmissao.Value.ToShortDateString())
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => item.QtdTotalParcelas)
                    </td>
                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => item.ValorTotalConta)
                    </td>
                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => item.ValorTotalReajustado)
                    </td>
                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => item.ValorTotalAberto)
                    </td>
                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => item.Situacao)
                    </td>
                    <td align="center">
                        <button class="btn btn-sm btn-primary modal-trigger editar" data-id="@item.Id"><i class="bi bi-pencil-square"></i></button>
                        @if (item.Situacao != SituacaoConta.Aberto)
                        {
                            <button class="btn btn-sm btn-danger modal-trigger" disabled><i class="bi bi-x-square"></i></button>
                        }
                        else
                        {
                            <button class="btn btn-sm btn-danger modal-trigger" onclick="ExibirModalExcluir(@item.Id)"><i class="bi bi-x-square"></i></button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div id="modal" class="modal fade" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false"></div>

<!--Modal Excluir-->
<div class="modal fade modal-excluir" id="modal-excluir" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title text-white">Excluir</h5>
            </div>
            <div class="modal-body">
                <p>ATENÇÃO: Caso haja parcelas diferentes de pendentes a conta será cancelada em vez de excluída!!!</p>
                <p>Confirma exclusão do registro mesmo assim?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-outline-danger btnConfirmar">Confirmar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        $(document).ready(function() {
            $('#tabela').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.11.5/i18n/pt-BR.json"
                }
            });
        });

        $(document).ready(function() {
            $(".modal-excluir").modal();
        });

        function ExibirModalExcluir(id) {
            $("#modal-excluir").modal("show");
            $(".btnConfirmar").on("click", function() {
                $.ajax({
                    method: "POST",
                    url: "/Contas/Deletar",
                    data: { id: id },
                    success: function() {
                        location.reload();
                    }
                });
            })
        }

        $(function() {
            $(".novo").click(function() {
                var id = $(this).attr("data-id");
                $("#modal").load("Editar?id=" + id, function() {
                    $(".modal-title").html("NOVO REGISTRO");
                    $("#modal").modal("show");
                })
            });

            $(".editar").click(function() {
                var id = $(this).attr("data-id");
                $("#modal").load("Editar?id=" + id, function() {
                    $(".modal-title").html("ALTERANDO REGISTRO");
                    $("#modal").modal("show");
                })
            });
        })
    </script>
}
