@model IEnumerable<ControlFinWeb.App.ViewModels.FaturaVM>

<div id="mensagem" role="alert"></div>
<table id="tabelaPesquisaFatura" class="table table-bordered  table-hover flex-md-nowrap" width="100%" style="font-size: 14px;">
    <thead>
        <tr>
            <th width="50">Mês/Ano</th>
            <th>Descrição</th>
            <th width="100">Valor</th>
            <th width="70">Situação</th>
            <th style="text-align:center"> Opções</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Convert.ToDateTime(item.MesAnoReferencia).ToString("MM/yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CartaoVM.Nome)
                    </td>
                    <td align="right">
                        @Html.DisplayFor(modelItem => item.ValorFatura)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SituacaoFatura)
                    </td>
                    <td align="center">
                        <button class="btn btn-sm btn-success modal-trigger" onclick="MostrarDetalhesFatura(@item.Id)"><i class="bi bi-file-earmark-check-fill"></i></button>
                        @if (item.SituacaoFatura == ControlFinWeb.Dominio.ObjetoValor.SituacaoFatura.Aberta)
                        {
                            <button class="btn btn-sm btn-primary modal-trigger editarFatura" data-id="@item.Id"><i class="bi bi-pencil-square"></i></button>
                            <button class="btn btn-sm btn-danger modal-trigger" onclick="ExibirModalExcluir(@item.Id)"><i class="bi bi-x-square"></i></button>
                        }
                        else
                        {
                            <button class="btn btn-sm btn-primary modal-trigger" disabled><i class="bi bi-pencil-square"></i></button>
                            <button class="btn btn-sm btn-danger modal-trigger" disabled><i class="bi bi-x-square"></i></button>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<!--Modal Excluir-->
<div class="modal fade modal-excluir" id="modal-excluir" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title text-white">Exluir?</h5>
            </div>
            <div class="modal-body">
                <p>ATENÇÃO: Ao excluir essa fatura todos os itens adicionados serão excluídos também!</p>
                <p>Deseja continuar mesmo assim?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-outline-danger btnConfirmar">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $(document).on("mousedown touchstart", ".editarFatura", function () {
            $("#modal").modal("hide");
            var id = $(this).attr("data-id");
            console.log(id);
            $("#modal").load("/Faturas/Editar?id=" + id, function () {
                $(".modal-title").html("ALTERANDO REGISTRO");
                $("#modal").modal("show");
            })
        });
    });

    $(document).ready(function () {
        $(".modal-excluir").modal();
    });

    function ExibirModalExcluir(id) {
        $("#modal-excluir").modal("show");
        $(".btnConfirmar").on("click", function () {
            $.ajax({
                method: "POST",
                url: "/Faturas/Deletar",
                data: { id: id },
                success: function () {
                    $("#modal-excluir").modal("hide");
                    $("#modal").modal("hide");
                    $("#modal").load("Pesquisa", function () {
                        $("#modal").modal("show");
                    })
                },
                error: function () {
                    $("#modal-excluir").modal("hide");
                    $("#mensagem").addClass('alert alert-danger').html("<strong>Erro!</strong> Não é possível excluir, entre em contato com o suporte!").delay(10000).fadeOut(400);
                }
            });
        })
    }

    function MostrarDetalhesFatura(idFatura) {
        $("#modal").modal("hide");
        window.location.href = 'Index?idFatura=' + idFatura;
    }

    $(document).ready(function () {
        $('#tabelaPesquisaFatura').DataTable({
            order: [[1, 'asc'], [0, 'asc']],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.11.5/i18n/pt-BR.json"
            },
            paging: false,
            info: false,
            searching: false,
            responsive: true,
        });
    });


</script>