@using ControlFinWeb.Dominio.ObjetoValor
@model ControlFinWeb.App.ViewModels.FaturaVM //////////////// novooo

@{
    ViewData["Title"] = "Fatura";
}

<div class="row">
    <div class="col-md-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn btn-dark pesquisar"><i class="bi bi-search"></i></button>
            </div>
            <span class="input-group-text fw-bold">Pesquisar Faturas</span>
        </div>
    </div>
    <div class="col-md-8" ">
         <h1 style="text-align: right">@Model.DescricaoCompleta </h1>
    </div>



</div>

<div id="mensagem" role="alert"></div>

<table id="tabela" class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Valor</th>
            <th>Data da Compra</th>
            <th>Gasto</th>
            <th>Pessoa referenciada</th>
            <th style="text-align:center">
                @if (Model.Id > 0)
                {
                    <button type="button" class="btn btn-secondary novoItem" data-id="0"> Novo Item</button>
                    <button type="button" class="btn btn-warning" onclick="ExibirModalFecharFatura(@Model.Id)"> Fechar Fatura</button>
                }
                else
                {
                    <button type="button" class="btn btn-secondary disabled" style="visibility:hidden"> Novo Item</button>
                    <button type="button" class="btn btn-warning disabled" style="visibility:hidden"> Fechar Fatura</button>
                }
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.FaturaItensVM != null)
        {
            @foreach (var item in Model.FaturaItensVM)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DescricaoCompleta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @Html.Raw(item.DataCompra.Value.ToShortDateString())
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubGastoVM.DescricaoCompleta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PessoaVM.Nome)
                    </td>
                    <td align="center">
                        <button class="btn btn-sm btn-primary modal-trigger editar" data-id="@item.Id"><i class="bi bi-pencil-square"></i></button>
                        <button class="btn btn-sm btn-danger modal-trigger" onclick="ExibirModalExcluir(@item.Id)"><i class="bi bi-x-square"></i></button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div id="modal" class="modal fade" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false"></div>

<!--Modal Excluir-->
<div class="modal fade modal-excluir" id="modal-excluir" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title text-white">Confirma exclusão do registro?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-outline-danger btnConfirmar">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<!--Modal confirmar fechamento fatura-->
<div class="modal fade modal-fechamentoFatura" id="modal-fechamentoFatura" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white">Deseja realmente fechar a fatura @*@Model.First().DescricaoCompleta*@?</h5>
            </div>
            <div class="modal-body">
                <label class="control-label">Se desejar pode escrever alguma observação</label>
                <textarea id="obs" class="form-control" rows="2"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-outline-primary btnConfirmarFechamento">Confirmar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        $(function() {

            $(".pesquisar").click(function() {
                $("#modal").load("Pesquisa", function() {
                    $("#modal").modal("show");
                })
            });

            $(".novoItem").click(function() {
                var id = $(this).attr("data-id");
                var faturaId = @Model.Id;
                $("#modal").load("/FaturasItens/Editar?id=" + id, function() {
                    $(".tituloItem").html("ADICIONAR NOVO ITEM");
                    $("#FaturaId").val(faturaId);
                    $("#modal").modal("show");
                })
            });

            $(".editar").click(function() {
                var id = $(this).attr("data-id");
                $("#modal").load("/FaturasItens/Editar?id=" + id, function() {
                    $(".tituloItem").html("ALTERANDO ITEM");
                    $("#modal").modal("show");
                })
            });
        });

        function ExibirModalFecharFatura(id) {
            $("#modal-fechamentoFatura").modal("show");
            $(".btnConfirmarFechamento").on("click", function() {
                var obs = $("#obs").val().toString();
                $.ajax({
                    method: "POST",
                    url: "/Faturas/FecharFatura",
                    data: { obs: obs, id: id },
                    success: function() {
                        window.location.href = 'Index?id=' + 0;
                    },
                    error: function() {
                        $("#modal-fechamentoFatura").modal("hide");
                        $("#mensagem").addClass('alert alert-danger').html("<strong>Erro!</strong> Não é possível fechar a fatura, entre em contato com o suporte técnico!").delay(30000).fadeOut(400);
                    }
                });
            })
        };

        function ExibirModalExcluir(id) {
            $("#modal-excluir").modal("show");
            $(".btnConfirmar").on("click", function () {
                $.ajax({
                    method: "POST",
                    url: "/FaturasItens/Deletar",
                    data: { id: id },
                    success: function () {
                       window.location.href = "/Faturas/Index?idFatura=" + @Model.Id;
                    },
                    error: function () {
                        $("#modal-excluir").modal("hide");
                        $("#mensagem").addClass('alert alert-danger').html("<strong>Erro!</strong> Não é possível excluir, por favor inative o registro!").delay(10000).fadeOut(400);
                    }
                });
            })
        }
    </script>
}