@using ControlFinWeb.Dominio.ObjetoValor
@model ControlFinWeb.App.ViewModels.FaturaVM

@{
    ViewData["Title"] = "Fatura";
}

<div class="row mb-3">
    <div class="col-sm-4 d-flex justify-content-start">
        <button class="w-100 btn btn-lg btn-dark pesquisar"><i class="bi bi-search"></i> Faturas</button>
        @if (Model.Id > 0 && Model.SituacaoFatura == SituacaoFatura.Aberta)
        {
            <button type="button" class="w-100 btn btn-secondary novoItem" data-id="0"><i class="bi bi-plus-lg"></i> Novo Item</button>
            if (DateTime.Now.Date >= Model.MesAnoReferencia)
            {
                <button type="button" class="w-100 btn btn-primary" onclick="ExibirModalFecharFatura(@Model.Id)"><i class="bi bi-check-lg"></i> Fechar</button>
            }
        }
    </div>
    <div class="col-sm-8 d-flex justify-content-right">
        @if (Model != null && Model.Id > 0)
        {
            <h2 style="text-align:center">@Model.DescricaoCompletaTitulo </h2>
        }
    </div>
</div>
<hr />

<div id="mensagem" role="alert"></div>

<table id="tabelaItensFatura" class="table table-bordered table-striped flex-md-nowrap" width="100%">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Valor</th>
            <th>Data da Compra</th>
            <th>Gasto</th>
            <th>Pessoa referenciada</th>
            <th style="text-align:center">Opções</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.FaturaItensVM != null)
        {
            @foreach (var item in Model.FaturaItensVM)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DescricaoCompleta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @Html.Raw(item.DataCompra.Value.ToShortDateString())
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubGastoVM.DescricaoCompleta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PessoaVM.Nome)
                    </td>
                    <td align="center">
                        @if (Model.SituacaoFatura == SituacaoFatura.Aberta)
                        {
                            <button class="btn btn-sm btn-primary modal-trigger editar" data-id="@item.Id"><i class="bi bi-pencil-square"></i></button>
                            <button class="btn btn-sm btn-danger modal-trigger" onclick="ExibirModalExcluir(@item.Id)"><i class="bi bi-x-square"></i></button>
                        }
                        else
                        {
                            <button class="btn btn-sm btn-primary modal-trigger " disabled><i class="bi bi-pencil-square"></i></button>
                            <button class="btn btn-sm btn-danger modal-trigger" disabled><i class="bi bi-x-square"></i></button>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="1" style="text-align:right">Total:</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>

<div id="modal" class="modal fade" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false"></div>

<!--Modal Excluir-->
<div class="modal fade modal-excluir" id="modal-excluir" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title text-white">Confirma exclusão do registro?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-outline-danger btnConfirmar">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<!--Modal confirmar fechamento fatura-->
<div class="modal fade modal-fechamentoFatura" id="modal-fechamentoFatura" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white">Deseja realmente fechar a fatura @Model.DescricaoCompleta?</h5>
            </div>
            <div class="modal-body">
                <label class="control-label">Você pode escrever alguma observação</label>
                <textarea id="obs" class="form-control" rows="2"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-outline-primary btnConfirmarFechamento">Confirmar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        $(function () {
            $(".pesquisar").click(function () {
                $("#modal").load("Pesquisa", function () {
                    $("#modal").modal("show");
                })
            });

            $(document).on(TipoClick().toString(), ".novoItem", function () {
                var id = $(this).attr("data-id");
                var faturaId = @Model.Id;
                $("#modal").load("/FaturasItens/Editar?id=" + id, function () {
                    $(".tituloItem").html("ADICIONAR NOVO ITEM");
                    $("#FaturaId").val(faturaId);
                    $("#modal").modal("show");
                })
            });

            $(document).on(TipoClick().toString(), ".editar", function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/FaturasItens/Editar?id=" + id, function () {
                    $(".tituloItem").html("ALTERANDO ITEM");
                    $("#modal").modal("show");
                })
            });
        });

        function ExibirModalFecharFatura(id) {
            $("#modal-fechamentoFatura").modal("show");
            $(".btnConfirmarFechamento").on("click", function () {
                var obs = $("#obs").val().toString();
                $.ajax({
                    method: "POST",
                    url: "/Faturas/FecharFatura",
                    data: { obs: obs, id: id },
                    success: function () {
                        window.location.href = 'Index?id=' + 0;
                    },
                    error: function () {
                        $("#modal-fechamentoFatura").modal("hide");
                        $("#mensagem").addClass('alert alert-danger').html("<strong>Erro!</strong> Não é possível fechar a fatura, entre em contato com o suporte técnico!").delay(30000).fadeOut(400);
                    }
                });
            })
        };

        function ExibirModalExcluir(id) {
            $("#modal-excluir").modal("show");
            $(".btnConfirmar").on("click", function () {
                $.ajax({
                    method: "POST",
                    url: "/FaturasItens/Deletar",
                    data: { id: id },
                    success: function () {
                        window.location.href = "/Faturas/Index?idFatura=" + @Model.Id;
                    },
                    error: function () {
                        $("#modal-excluir").modal("hide");
                        $("#mensagem").addClass('alert alert-danger').html("<strong>Erro!</strong> Não é possível excluir, por favor inative o registro!").delay(10000).fadeOut(400);
                    }
                });
            })
        }

        $(document).ready(function () {
            $('#tabelaItensFatura').DataTable({
                order: [[1, 'asc'], [0, 'asc']],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.11.5/i18n/pt-BR.json"
                },
                paging: false,
                info: false,
                responsive: true,
                footerCallback: function (row, data, start, end, display) {
                    var numFormat = $.fn.dataTable.render.number('\.', ',', 2).display;
                    var api = this.api();
                    // Total por pagina
                    pageTotal = api
                        .column(1, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return parseFloat(a.toString().replace(",", ".")) + parseFloat(b.toString().replace(",", "."));
                        }, 0);
                    // Update footer
                    $(api.column(1).footer()).html(numFormat(pageTotal));
                },
            });
        });

    </script>
}