@using ControlFinWeb.Dominio.ObjetoValor
@model ControlFinWeb.App.ViewModels.FaturaVM

@{
    ViewData["Title"] = "Fatura";
}

<div class="row mb-3">
    <div class="col-sm-4 d-flex justify-content-start">
        <button class="w-100 btn btn-lg btn-secondary pesquisar"><i class="bi bi-search"></i> Faturas</button>
        @if (Model.Id > 0 && Model.SituacaoFatura == SituacaoFatura.Aberta)
        {
            <button type="button" class="w-100 btn btn-success novoItem" data-id="0"><i class="bi bi-plus-lg"></i> Novo Item</button>
            if (DateTime.Now.Date >= Model.MesAnoReferencia)
            {
                <button type="button" class="w-100 btn btn-primary" onclick="ExibirModalFecharFatura(@Model.Id)"><i class="bi bi-check-lg"></i> Fechar</button>
            }
        }
    </div>
    <div class="col-sm-8 d-flex justify-content-right">
        @if (Model != null && Model.Id > 0)
        {
            <h2 style="text-align:center">@Model.DescricaoCompletaTitulo </h2>
        }
    </div>
</div>
<hr />

<table id="tabelaItensFatura" class="table table-bordered table-striped flex-md-nowrap small" width="100%">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Valor</th>
            <th>Data da Compra</th>
            <th>Gasto</th>
            <th>Pessoa referenciada</th>
            <th style="text-align:center">Opções</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.FaturaItensVM != null)
        {
            @foreach (var item in Model.FaturaItensVM)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DescricaoCompleta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @Html.Raw(item.DataCompra.Value.ToShortDateString())
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubGastoVM.DescricaoCompleta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PessoaVM.Nome)
                    </td>
                    <td align="center">
                        @if (Model.SituacaoFatura == SituacaoFatura.Aberta)
                        {
                            <button class="btn btn-sm btn-primary modal-trigger editar" data-id="@item.Id"><i class="bi bi-pencil-square"></i></button>
                            <button class="btn btn-sm btn-danger modal-trigger" onclick="ExibirModalExcluir(@item.Id)"><i class="bi bi-trash-fill"></i></button>
                            <button type="button" class="btn btn-sm btn-warning antecipar" data-id="@item.Id" data-bs-toggle="tooltip" data-bs-title="Antecipar Parcelamento"><i class="bi bi-cash-stack"></i></button>
                        }
                        else
                        {
                            <button class="btn btn-sm btn-primary modal-trigger" disabled><i class="bi bi-pencil-square"></i></button>
                            <button class="btn btn-sm btn-danger modal-trigger" disabled><i class="bi bi-trash-fill"></i></button>
                            <button type="button" class="btn btn-sm btn-warning" disabled data-bs-toggle="tooltip" data-bs-title="Antecipar Parcelamento"><i class="bi bi-cash-stack"></i></button>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="1" style="text-align:right">Total:</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>

<div id="modal" class="modal fade" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false"></div>

@section Scripts
    {
    <script>
        $(function () {
            $(".pesquisar").click(function () {
                $("#modal").load("Pesquisa", function () {
                    $("#modal").modal("show");
                })
            });

            $(document).on(TipoClick().toString(), ".novoItem", function () {
                var id = $(this).attr("data-id");
                var faturaId = @Model.Id;
                $("#modal").load("/FaturasItens/Editar?id=" + id, function () {
                    $(".tituloItem").html("ADICIONAR NOVO ITEM");
                    $("#FaturaId").val(faturaId);
                    $("#modal").modal("show");
                })
            });

            $(document).on(TipoClick().toString(), ".editar", function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/FaturasItens/Editar?id=" + id, function () {
                    $(".tituloItem").html("ALTERANDO ITEM");
                    $("#modal").modal("show");
                })
            });

            $(document).on(TipoClick().toString(), ".antecipar", function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/FaturasItens/Antecipar?id=" + id, function () {
                    $("#ultimaFaturaId").val(@Model.Id);
                    $("#modal").modal("show");
                })
            });
        });

        function ExibirModalFecharFatura(id) {
            Swal.fire({
                title: 'Digite uma observação',
                input: 'textarea',
                inputAttributes: {
                    autocapitalize: 'off'
                },
                showCancelButton: true,
                confirmButtonText: 'Fechar Fatura',
                cancelButtonText: 'Cancelar',
                showLoaderOnConfirm: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    var obs = result.value;
                    $.ajax({
                        method: "POST",
                        url: "/Faturas/FecharFatura",
                        data: { obs: obs, id: id },
                        success: function () {
                            window.location.href = 'Index?id=' + 0;
                        },
                        error: function () {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Não é possível fechar a fatura, entre em contato com o suporte técnico!',
                            })
                        }
                    });
                }
            })
        };

        function ExibirModalExcluir(id) {
            Swal.fire({
                title: 'Deseja realmente excluir?',
                text: "Este processo não pode ser revertido!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim, pode apagar!',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        method: "POST",
                        url: "/FaturasItens/Deletar",
                        data: { id: id },
                        success: function () {
                            window.location.href = "/Faturas/Index?idFatura=" + @Model.Id;
                        },
                        error: function (retorno) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Não é possível excluir!',
                            })
                        }
                    });

                }
            })
        }

        $(document).ready(function () {
            $('#tabelaItensFatura').DataTable({
                order: [[1, 'asc'], [0, 'asc']],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.11.5/i18n/pt-BR.json"
                },
                paging: false,
                info: false,
                responsive: true,
                footerCallback: function (row, data, start, end, display) {
                    var numFormat = $.fn.dataTable.render.number('\.', ',', 2).display;
                    var api = this.api();
                    // Total por pagina
                    pageTotal = api
                        .column(1, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return parseFloat(a.toString().replace(",", ".")) + parseFloat(b.toString().replace(",", "."));
                        }, 0);
                    // Update footer
                    $(api.column(1).footer()).html(numFormat(pageTotal));
                },
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
            HabilitarToolTip();
        });

    </script>
}