@model IEnumerable<ControlFinWeb.App.ViewModels.FormaPagamentoVM>

@{
    ViewData["Title"] = "Forma de Pagamento";
}

<div class="row">
    <div class="col-md-3">
        <div class="input-group mb-3">
            <button class="btn btn-dark novo" type="button" data-id="0" id="btnNovo"><i class="bi bi-plus-lg"></i></button>
            <input type="text" class="form-control fw-bold" placeholder="" readonly value="Lista de Formas de Pagamento" aria-describedby="btnNovo">
        </div>
    </div>
   @* <div class="input-group mb-3 input-group-lg inv-amount-block center-block " ">
        <div class="input-group-prepend">
            <button class="btn btn-dark novo" data-id="0"><i class="bi bi-plus-lg"></i></button>
        </div>
        <span class="input-group-text fw-bold">Lista de Formas de Pagamento</span>
    </div>*@
   
</div>

<table id="tabela" class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Nome</th>
            <th>É Débito Automático?</th>
            <th>Situação</th>
            <th style="text-align:center">Opções</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @if (item.DebitoAutomatico)
                    {
                        @Html.Raw("Sim")
                    }
                    else
                    {
                        @Html.Raw("Não")
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Situacao)
                </td>
                <td align="center">
                    <button class="btn btn-sm btn-primary modal-trigger editar" data-id="@item.Id"><i class="bi bi-pencil-square"></i></button>
                    <button class="btn btn-sm btn-danger modal-trigger" onclick="ExibirModalExcluir(@item.Id)"><i class="bi bi-x-square"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="modal" class="modal fade" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false"></div>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            $('#tabela').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.11.5/i18n/pt-BR.json"
                },
                responsive: true
            });
        });

      
        function ExibirModalExcluir(id) {
            Swal.fire({
                title: 'Deseja realmente excluir?',
                text: "Este processo não pode ser revertido!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim, pode apagar!',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        method: "POST",
                        url: "/FormasPagamento/Deletar",
                        data: { id: id },
                        success: function () {
                            location.reload();
                        },
                        error: function () {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Não é possível excluir, por favor inative o registro!',
                            })
                        }
                    });

                }
            })
        }

        $(function () {
            $(document).on(TipoClick().toString(), ".novo", function () {
                var id = $(this).attr("data-id");
                $("#modal").load("Editar?id=" + id, function () {
                    $(".modal-title").html("NOVO REGISTRO");
                    $("#modal").modal("show");
                })
            });

            $(document).on(TipoClick().toString(), ".editar", function () {
                var id = $(this).attr("data-id");
                $("#modal").load("Editar?id=" + id, function () {
                    $(".modal-title").html("ALTERANDO REGISTRO");
                    $("#modal").modal("show");
                })
            });
        })
    </script>
}
