@model ControlFinWeb.App.ViewModels.PessoaVM
@using ControlFinWeb.Dominio.ObjetoValor;

@{
    ViewData["Title"] = "Pessoas";
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="javascript:window.location.reload()"></button>
        </div>
        <div class="modal-body">
            <form asp-action="Editar">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Id" type="hidden" />
                <div class="form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Situacao" class="control-label"></label>
                    <select class="form-select" asp-for="Situacao" asp-items="Html.GetEnumSelectList<Situacao>()"></select>
                    <span asp-validation-for="Situacao" class="text-danger"></span>
                </div>
                <br />
                <div class="card">
                    <div class="card-header">Suas Rendas</div>
                    <div class="card-body">
                        <div class="row-cols-md-5">
                            <label asp-for="TipoRendaId" class="control-label"></label>
                            <select class="form-select" asp-for="TipoRendaId" asp-items="ViewBag.TipoRendaId">
                                <option value="0">---Selecione---</option>
                            </select>
                            <span asp-validation-for="TipoRendaId" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <label asp-for="RendaBruta" class="control-label"></label>
                                <input asp-for="RendaBruta" class="form-control" style="text-align:right" />
                                <span asp-validation-for="RendaBruta" class="text-danger"></span>
                            </div>
                            <div class="col-5">
                                <label asp-for="RendaLiquida" class="control-label"></label>
                                <input asp-for="RendaLiquida" class="form-control" style="text-align:right" />
                                <span asp-validation-for="RendaLiquida" class="text-danger"></span>
                            </div>
                            <div class="col-2">
                                <br />
                                <button type="button" class="btn btn-dark addRenda"><i class="badge-info bi-plus-lg"></i></button>
                            </div>
                        </div>
                        <table class="table" id="rendas">
                            <thead>
                                <tr>
                                    <th>Renda</th>
                                    <th style="text-align:right">R.Bruta</th>
                                    <th style="text-align:right">R.Líquida</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.PessoaRendasVM.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            @*<input asp-for="PessoaRendasVM[i].Id" type="hidden" />*@
                                            <input asp-for="PessoaRendasVM[i].TipoRendaId" type="hidden" />
                                            @*<input asp-for="PessoaRendasVM[i].TipoRendaVM.Nome" type="hidden" />*@
                                            <span>@Model.PessoaRendasVM[i].TipoRendaVM.Id - @Model.PessoaRendasVM[i].TipoRendaVM.Nome</span>
                                        </td>
                                        <td align="right">
                                            <input asp-for="PessoaRendasVM[i].RendaBruta" type="hidden" />
                                            <span>@Model.PessoaRendasVM[i].RendaBruta.ToString("n2")</span>
                                        </td>
                                        <td align="right">
                                            <input asp-for="PessoaRendasVM[i].RendaLiquida" type="hidden" />
                                            <span>@Model.PessoaRendasVM[i].RendaLiquida.ToString("n2")</span>
                                        </td>
                                        <td align="right">
                                            <button type="button" class="btn btn-danger btn-sm excluirRenda"><i class="bi bi-dash"></i></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            @*<tfoot>
                                <tr>
                                    <th> Totais</th>
                                    <td align="right">
                                        <span>@Model.TotalRendaBruta</span>
                                    </td>
                                    <td align="right">
                                        <span>@Model.TotalRendaLiquida</span>
                                    </td>
                                    <td></td>
                                </tr>
                           
                            </tfoot>*@
                        </table>
                    </div>
                </div>
                <br />
                <button type="submit" class="w-100 btn btn-success">Salvar</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script type="text/javascript">
    $(function () {
        $("#RendaBruta, #RendaLiquida").maskMoney({ thousands: '.', decimal: ',', allowZero: true });

        var countRenda = @Model.PessoaRendasVM.Count;
        var $rendas = $("#rendas");
        $(".addRenda").on("click", function () {
            var rendaId = $("#TipoRendaId").val();
            var nomeRenda = $('#TipoRendaId').find(":selected").text();
            var rendaBruta = $("#RendaBruta").val();
            var rendaLiquida = $("#RendaLiquida").val();

            var tdRenda = `<td> ${rendaId} <input type="hidden" name="PessoaRendasVM[${countRenda}].TipoRendaId" value=${rendaId} /> - ${nomeRenda} <input type="hidden"/> </td>`;
            var tdRendaBruta = `<td align="right"> ${rendaBruta} <input type="hidden" name="PessoaRendasVM[${countRenda}].RendaBruta" value=${rendaBruta} /> </td>`;
            var tdRendaLiquida = `<td align="right"> ${rendaLiquida} <input type="hidden" name="PessoaRendasVM[${countRenda}].RendaLiquida" value=${rendaLiquida} /> </td>`;
            var tdRemover = `<td align="right"> <button type="button" class="btn btn-danger btn-sm excluirRenda"><i class="bi bi-dash"></i></button> </td>`;

            var tr = `<tr>${tdRenda}${tdRendaBruta}${tdRendaLiquida}${tdRemover}</tr>`;
            
            $rendas.find('tbody').append(tr);
            countRenda++;

            $("#TipoRendaId").val(0);
            $("#RendaBruta").val('0,00');
            $("#RendaLiquida").val('0,00');
        })

        //$(".excluirRenda").on("click", function () {
        //    $(this).closest('tr').remove();
        //})

        //$(".excluirRenda").on("click", function () {
        //    var renda = $(this).parent().parent();
        //    renda.remove();
        //})


        //$(".excluirRenda").on("click", function (id) {
        //    var renda = $(this).parent().parent();
        //    renda.remove();

        //    //var valores = document.querySelectorAll("table tr td span");
        //    //for (i = 0; i < valores.length; i++) {
               
               
        //    //    alert(valores[i].innerHTML);
        //    //}
        //})
    });
</script>
}

