@model ControlFinWeb.App.ViewModels.PessoaVM
@using ControlFinWeb.Dominio.ObjetoValor;

@{
    ViewData["Title"] = "Pessoas";
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="javascript:window.location.reload()"></button>
        </div>
        <div class="modal-body">
            <form asp-action="Editar">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Id" type="hidden" />
                <div class="form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Situacao" class="control-label"></label>
                    <select class="form-select" asp-for="Situacao" asp-items="Html.GetEnumSelectList<Situacao>()"></select>
                    <span asp-validation-for="Situacao" class="text-danger"></span>
                </div>
                <br />
                <div class="card">
                    <div class="card-header">Suas Rendas</div>
                    <div class="card-body">
                        <div class="row-cols-md-5">
                            <label asp-for="TipoRendaId" class="control-label"></label>
                            <select class="form-select" asp-for="TipoRendaId" asp-items="ViewBag.TipoRendaId">
                                <option value="0">---Selecione---</option>
                            </select>
                            <span asp-validation-for="TipoRendaId" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <label asp-for="RendaBruta" class="control-label"></label>
                                <input asp-for="RendaBruta" class="form-control" />
                                <span asp-validation-for="RendaBruta" class="text-danger"></span>
                            </div>
                            <div class="col-5">
                                <label asp-for="RendaLiquida" class="control-label"></label>
                                <input asp-for="RendaLiquida" class="form-control" />
                                <span asp-validation-for="RendaLiquida" class="text-danger"></span>
                            </div>
                            <div class="col-2">
                                <br />
                                <button type="button" class="btn btn-dark addRenda"><i class="badge-info bi-plus-lg"></i></button>
                            </div>
                        </div>
                        <table class="table" id="rendas">
                            <thead>
                                <tr>
                                    <th>Renda</th>
                                    <th>R.Bruta</th>
                                    <th>R.Líquida</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.PessoaRendasVM.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            <input asp-for="PessoaRendasVM[i].Id" type="hidden"/>
                                            <span>@Model.PessoaRendasVM[i].TipoRendaVM.Nome</span>
                                            @*@Html.DisplayFor(modelItem => Model.PessoaRendasVM[i].TipoRendaVM.Nome)
                                            @Html.HiddenFor(modelItem => Model.PessoaRendasVM[i].TipoRendaVM.Id)*@
                                        </td>
                                        <td>
                                            <input asp-for="PessoaRendasVM[i].RendaBruta" type="hidden" />
                                            <span>@Model.PessoaRendasVM[i].RendaBruta</span>
                                            @*@Html.DisplayFor(modelItem => Model.PessoaRendasVM[i].RendaBruta)
        @Html.HiddenFor(modelItem => Model.PessoaRendasVM[i].RendaBruta)*@
                                        </td>
                                        <td>
                                            <input asp-for="PessoaRendasVM[i].RendaLiquida" type="hidden" />
                                            <span>@Model.PessoaRendasVM[i].RendaLiquida</span>
                                            @*@Html.DisplayFor(modelItem => Model.PessoaRendasVM[i].RendaLiquida)
        @Html.HiddenFor(modelItem => Model.PessoaRendasVM[i].RendaLiquida)*@
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger btn-sm"><i class="bi bi-dash"></i></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <br />
                <button type="submit" class="w-100 btn btn-success">Salvar</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
    $(function () {
        $("#RendaBruta, #RendaLiquida").maskMoney({ thousands: '.', decimal: ',', allowZero: true });

        var countRenda = @Model.PessoaRendasVM.Count;
        var $rendas = $("#rendas");
        $(".addRenda").on("click", function () {
            var rendaId = $("#TipoRendaId").val();
            var rendaBruta = $("#RendaBruta").val();
            var rendaLiquida = $("#RendaLiquida").val();

            var tdRenda = `<td> ${rendaId} <input type="hidden" name="PessoaRendasVM[${countRenda}].TipoRendaVM.Id" value=${rendaId} /> </td>`;
            var tdRendaBruta = `<td> ${rendaBruta} <input type="hidden" name="PessoaRendasVM[${countRenda}].RendaBruta" value=${rendaBruta} /> </td>`;
            var tdRendaLiquida = `<td> ${rendaLiquida} <input type="hidden" name="PessoaRendasVM[${countRenda}].RendaLiquida" value=${rendaLiquida} /> </td>`;
            var tdRemover = `<td> <button type="button" class="btn btn-danger btn-sm"><i class="bi bi-dash"></i></button> </td>`;

            var tr = `<tr>${tdRenda}${tdRendaBruta}${tdRendaLiquida}${tdRemover}</tr>`;

            $rendas.find('tbody').append(tr);
            countRenda++;
        })
    });






    </script>
}

