@model ControlFinWeb.App.ViewModels.HomeVM
@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/home.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>

@if (ViewData["Mensagem"] != null)
{
    <div class="alert alert-info" role="alert">
        @ViewData["Mensagem"].ToString()
    </div>
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="card w-100 card-1">
                <div class="card-body">
                    <h5 class="card-title">PAGAR</h5>
                    <h2 class="card-text">@Model.TotalPagar.ToString("C2")</h2>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card w-100 card-2">
                <div class="card-body">
                    <h5 class="card-title">RECEBER</h5>
                    <h2 class="card-text">@Model.TotalReceber.ToString("C2")</h2>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card w-100 card-3">
                <div class="card-body">
                    <h5 class="card-title">CAIXA</h5>
                    <h2 class="card-text">@Model.TotalBalanco.ToString("C2")</h2>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card w-100 card-4">
                <div class="card-body">
                    <h5 class="card-title">ATRASADOS</h5>
                    <h2 class="card-text">@Model.TotalAtrasadas.ToString("C2")</h2>

                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6" >
            <div class="card" style="height:100%; max-height: 500px;">
                <div class="card-body">
                    <canvas class="" id="lineChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="height:100%; max-height: 500px;">
               
                <div class="card-body" >
                    <canvas class="" id="pieChart"></canvas>
                </div>
            </div>
        </div>
       
    </div>
</div>

<script type="text/javascript">
    var lineChart = document.getElementById('lineChart').getContext('2d');

    var chart = new Chart(lineChart, {
        type: 'line',
        data: {
            labels: [@Html.Raw(ViewBag.Descricoes)],
            datasets: [{
                data: [@Html.Raw(ViewBag.Totais)],
                fill: false,
                borderColor: 'rgb(4, 4, 150)',
                tension: 0.1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false,
                },
                title: {
                    display: true,
                    text: 'GASTO NOS ÚLTIMOS 12 MESES',
                    position: 'top'
                },
            }
        }
    });


    var pieChart = document.getElementById('pieChart').getContext('2d');

    var pizza = new Chart(pieChart, {
        type: 'pie',
        data: {
            labels: [@Html.Raw(ViewBag.Descricoes1)],
            datasets: [{
                backgroundColor: [@Html.Raw(ViewBag.Cores1)],
                fill: false,
                data: [@Html.Raw(ViewBag.Totais1)],
                
            }]
        },
        options: 
        { 
            responsive: true, 
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false,
                    position: "top",
                },
                title: {
                    display: true,
                    text: 'GASTO POR GRUPO (MÊS ATUAL)',
                    position: 'top'
                },
            }
        }
    });

    
</script>
